@page "/"
@using DragAndDropFluid.Model
@using DragAndDropFluid.Pages.Views
<center><p>- 1 - </p></center>
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<b>!This is only a proof of concept!</b>

<DragContainerView Width="1000px" Height="1000px">
	<DragableItemView Position="Position1" Size="Size1">
	</DragableItemView>
	<DragableItemView Position="Position2" Size="Size2">
	</DragableItemView>
	<DragableItemView Position="Position3" Size="Size3">
	</DragableItemView>
</DragContainerView>

@code{
	private Point2d Position1 = new Point2d(0, 0);
	private Point2d Size1 = new Point2d(200, 100);

	private Point2d Position2 = new Point2d(200, 0);
	private Point2d Size2 = new Point2d(200, 100);

	private Point2d Position3 = new Point2d(400, 0);
	private Point2d Size3 = new Point2d(200, 100);
}