@using System.Drawing
@using DragAndDropFluid.Adapters
@using DragAndDropFluid.Model

<div style="width:@Width;height:@Height;background:#918f87;position:relative" @onmousemove="OnMouseMove">
	<CascadingValue Value="@this">
		<PlaceholderView @ref="PlaceHolder">
		</PlaceholderView>

		@ChildContent
	</CascadingValue>
</div>

@code {

	[Parameter] public string Width { get; set; }
	[Parameter] public string Height { get; set; }
	[Parameter] public RenderFragment ChildContent { get; set; }

	public List<DragableItemView> DragableItems { get; private set; } = [];

	public PlaceholderView PlaceHolder { get; set; }

	private DragAdapter _adapter;

	protected override void OnAfterRender(bool firstRender)
	{
		base.OnAfterRender(firstRender);
		if (firstRender)
		{
			_adapter = new DragAdapter(this, PlaceHolder);
		}
	}

	private void OnMouseMove(MouseEventArgs e)
	{
		_adapter.DragMove(e.MovementX, e.MovementY);
	}

	public int AddDragItem(DragableItemView item)
	{
		DragableItems.Add(item);
		return DragableItems.Count - 1;
	}

	public void NotifyMouseDown(int index)
	{
		_adapter.DragStart(index);
	}

	public void NotifyMouseUp()
	{
		_adapter.Drop();
	}
}
