@using System.Drawing
@using DragAndDropFluid.Adapters
@using DragAndDropFluid.Model

<div style="touch-action:none;width:@Width;height:@Height;background:#918f87;position:relative" @onmousemove="OnMouseMove" @ontouchmove="OnTouchMove">
	<CascadingValue Value="@this">
		<PlaceholderView @ref="PlaceHolder">
		</PlaceholderView>

		@ChildContent
	</CascadingValue>
</div>

@code {

	[Parameter] public string Width { get; set; }
	[Parameter] public string Height { get; set; }
	[Parameter] public RenderFragment ChildContent { get; set; }

	public List<DragableItemView> DragableItems { get; private set; } = [];

	public PlaceholderView PlaceHolder { get; set; }

	private DragAdapter _adapter;

	protected override void OnAfterRender(bool firstRender)
	{
		base.OnAfterRender(firstRender);
		if (firstRender)
		{
			_adapter = new DragAdapter(this, PlaceHolder);
		}
	}


	private TouchPoint? _referencePoint = null;

	private void OnTouchMove(TouchEventArgs e)
	{
		if (_referencePoint == null)
		{
			return;
		}

		var endReferencePoint = e.TargetTouches[0];

		var diffX = endReferencePoint.ClientX - _referencePoint.ClientX;
		var diffY = endReferencePoint.ClientY - _referencePoint.ClientY;

		_referencePoint = endReferencePoint;

		_adapter.DragMove(diffX, diffY);

	}

	public void NotifyTouchStart(TouchEventArgs e, int index)
	{
		_referencePoint = e.TargetTouches[0];
		_adapter.DragStart(index);
	}

	public void NotifyTouchEnd(TouchEventArgs e)
	{
		_adapter.Drop();
		//_referencePoint = null;
	}

	
	public int AddDragItem(DragableItemView item)
	{
		DragableItems.Add(item);
		return DragableItems.Count - 1;
	}

	private void OnMouseMove(MouseEventArgs e)
	{
		_adapter.DragMove(e.MovementX, e.MovementY);
	}


	public void NotifyMouseDown(int index)
	{
		_adapter.DragStart(index);
	}

	public void NotifyMouseUp()
	{
		_adapter.Drop();
	}
}
